#### 分期(1.2.3.4)

In [7]:
import pandas as pd
TCGA_barcode=pd.read_csv('../external_result/jhu-usc.edu_BRCA.HumanMethylation450.1.11.0.sdrf.txt.csv')
TCGA_barcode

            Comment [TCGA Barcode]             Array Data File
0     TCGA-A7-A0DC-01B-04D-A22R-05  7796806125_R03C02_Grn.idat
1     TCGA-A7-A0DC-01B-04D-A22R-05  7796806125_R03C02_Red.idat
2     TCGA-A7-A0CE-11A-21D-A10Q-05  6005486013_R02C02_Grn.idat
3     TCGA-A7-A0CE-11A-21D-A10Q-05  6005486013_R02C02_Red.idat
4     TCGA-BH-A0BV-11A-31D-A10Q-05  6005486013_R03C02_Grn.idat
...                            ...                         ...
1855  TCGA-PE-A5DC-01A-12D-A27Y-05  9298768172_R02C02_Red.idat
1856  TCGA-PE-A5DD-01A-12D-A27Y-05  9298768134_R06C01_Grn.idat
1857  TCGA-PE-A5DD-01A-12D-A27Y-05  9298768134_R06C01_Red.idat
1858  TCGA-PE-A5DE-01A-11D-A27Y-05  9298768134_R02C02_Grn.idat
1859  TCGA-PE-A5DE-01A-11D-A27Y-05  9298768134_R02C02_Red.idat

[1860 rows x 2 columns]

In [8]:
samplesheet=pd.read_csv('../../乳癌資料集450/test/sample_sheet_1.csv')
samplesheet

,Sample_Name,Sample_Plate,Sample_Group,Pool_ID,Sentrix_ID,Sentrix_Position
0,1,NaN,Normal,NaN,6005486013,R02C02
1,2,NaN,Normal,NaN,6005486013,R02C02
2,3,NaN,Normal,NaN,6005486013,R03C02
3,4,NaN,Normal,NaN,6005486013,R03C02
4,5,NaN,Normal,NaN,6005486011,R02C01
...,...,...,...,...,...,...
895,896,NaN,Tumor,NaN,6042324005,R02C01
896,897,NaN,Tumor,NaN,6042324005,R04C01
897,898,NaN,Tumor,NaN,6042324005,R04C01
898,899,NaN,Tumor,NaN,6042324005,R05C01
899,900,NaN,Tumor,NaN,6042324005,R05C01

In [9]:
result = pd.DataFrame(columns=['Sample_Name','Sentrix_ID','Sentrix_Position', 'barcode','Sample_Group','stage','type'])
for j in range(0,len(samplesheet)):
    
    for i in range(0,len(TCGA_barcode)):
        ID=TCGA_barcode['Array Data File'][i][:10]
        Position=TCGA_barcode['Array Data File'][i][11:17]
        barcode=TCGA_barcode['Comment [TCGA Barcode]'][i]
        if(str(ID)==str(samplesheet['Sentrix_ID'][j])) and (str(Position)==str(samplesheet['Sentrix_Position'][j])):
            new_row = pd.DataFrame({'Sentrix_ID': [samplesheet['Sentrix_ID'][j]],'Sentrix_Position':[samplesheet['Sentrix_Position'][j]] ,'barcode': [barcode]})
            result = pd.concat([result, new_row], ignore_index=True)
            break
result

,Sample_Name,Sentrix_ID,Sentrix_Position,barcode,Sample_Group,stage,type
0,NaN,6005486013,R02C02,TCGA-A7-A0CE-11A-21D-A10Q-05,NaN,NaN,NaN
1,NaN,6005486013,R02C02,TCGA-A7-A0CE-11A-21D-A10Q-05,NaN,NaN,NaN
2,NaN,6005486013,R03C02,TCGA-BH-A0BV-11A-31D-A10Q-05,NaN,NaN,NaN
3,NaN,6005486013,R03C02,TCGA-BH-A0BV-11A-31D-A10Q-05,NaN,NaN,NaN
4,NaN,6005486011,R02C01,TCGA-BH-A0DZ-11A-22D-A10Q-05,NaN,NaN,NaN
...,...,...,...,...,...,...,...
895,NaN,6042324005,R02C01,TCGA-E9-A22H-01A-11D-A161-05,NaN,NaN,NaN
896,NaN,6042324005,R04C01,TCGA-D8-A1X9-01A-12D-A161-05,NaN,NaN,NaN
897,NaN,6042324005,R04C01,TCGA-D8-A1X9-01A-12D-A161-05,NaN,NaN,NaN
898,NaN,6042324005,R05C01,TCGA-E2-A1LI-01A-12D-A161-05,NaN,NaN,NaN
899,NaN,6042324005,R05C01,TCGA-E2-A1LI-01A-12D-A161-05,NaN,NaN,NaN

In [10]:
phenotype=pd.read_csv('../external_result/TCGA.BRCA.sampleMap_BRCA_clinicalMatrix.csv')
for j in range(0,len(result)):
        for i in range(0,len(phenotype['_GENOMIC_ID_TCGA_BRCA_hMethyl450'])):

            if (str(result['barcode'][j])==str(phenotype['_GENOMIC_ID_TCGA_BRCA_hMethyl450'][i])):
                stage=phenotype['AJCC_Stage_nature2012'][i]
                type=phenotype['sample_type'][i]
                result.loc[j,'stage']=stage
                result.loc[j,'type']=type
                break

result['Sample_Group']=samplesheet['Sample_Group']
result['Sample_Name']=samplesheet['Sample_Name']
result

,Sample_Name,Sentrix_ID,Sentrix_Position,barcode,Sample_Group,stage,type
0,1,6005486013,R02C02,TCGA-A7-A0CE-11A-21D-A10Q-05,Normal,NaN,Solid Tissue Normal
1,2,6005486013,R02C02,TCGA-A7-A0CE-11A-21D-A10Q-05,Normal,NaN,Solid Tissue Normal
2,3,6005486013,R03C02,TCGA-BH-A0BV-11A-31D-A10Q-05,Normal,NaN,Solid Tissue Normal
3,4,6005486013,R03C02,TCGA-BH-A0BV-11A-31D-A10Q-05,Normal,NaN,Solid Tissue Normal
4,5,6005486011,R02C01,TCGA-BH-A0DZ-11A-22D-A10Q-05,Normal,NaN,Solid Tissue Normal
...,...,...,...,...,...,...,...
895,896,6042324005,R02C01,TCGA-E9-A22H-01A-11D-A161-05,Tumor,Stage IIB,Primary Tumor
896,897,6042324005,R04C01,TCGA-D8-A1X9-01A-12D-A161-05,Tumor,Stage IIA,Primary Tumor
897,898,6042324005,R04C01,TCGA-D8-A1X9-01A-12D-A161-05,Tumor,Stage IIA,Primary Tumor
898,899,6042324005,R05C01,TCGA-E2-A1LI-01A-12D-A161-05,Tumor,Stage IIB,Primary Tumor
899,900,6042324005,R05C01,TCGA-E2-A1LI-01A-12D-A161-05,Tumor,Stage IIB,Primary Tumor

In [11]:
result.to_csv('../result/stage_test.csv',index=False)